#fondocolor {
    background-color: rgb(228, 223, 235);
}

#titulosHeader {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 40px; 
    margin-bottom: 20px; 
    font-size: 3rem; 
    padding: 10px;
}

.titulosDif{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px; 
    font-size: 3rem; 
    padding: 10px;
}

.tituloGrande {
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-size: 3.5rem; 
    margin-top: 40px; 
}


.holtwood-one-sc-regular {
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  

#ubicacionHeader {
    font-family: 'Source Sans Pro', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: small;
}

#cuerpoHeader {
    font-family: 'Source Sans Pro', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#margenContacto {
    margin: 20px;
}

#btnValidar {
    background-color: #9469A2;
    border-color: #9469A2;
}

.tituloGrande {
    font-size: 3rem;
}

#name,
#number,
#mail, 
#message {
    color: #7b4ca0;
    border: 1px solid #7b4ca0;
    border-radius: 5px;
    outline: none; 
    transition: box-shadow 0.3s ease;
}

#name:focus, 
#number:focus, 
#mail:focus, 
#message:focus {
    box-shadow: 0 0 10px 2px #7b4ca0;
    border-color: #7b4ca0;
}