/* .video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 63%;
  object-fit: cover;
  z-index: -1;
} */

section {
  padding-bottom: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

  section {
    padding-bottom: 100px;
}
h1 {
  font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
.swiffy-slider{
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 50px;
  background-color: #9469A2;
  padding: 20px; 
  border-radius: 40px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.card {
  margin: 10px; 
  transition: transform 0.2s; 
}

.card-body .d-flex {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 10px 0; 
}

.card-body .d-flex h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 100;
  margin-left: 15px; 
  margin-right: 15px; 
  margin-top: 0; 
  margin-bottom: 0; 
}

.card-body .d-flex p {
  margin-left: 15px; 
  margin-right: 15px; 
  margin-top: 0; 
  margin-bottom: 0; 
}
.card-body .card-text {
  margin-left: 15px; 
  margin-right: 15px; 
  margin-top: 10px; 
  margin-bottom: 15px; 
  font-size: 16px; 
  color: #333; 
  padding: 0; 
}
.card:hover {
  transform: scale(1.05); 
}
.card-body p {
  margin: 0; 
}
@media (max-width: 1200px) {
  .swiffy-slider {
  padding: 15px;
  }
}
