body {
    background-color: #eee;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    
}

#titulosHeader {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 40px; 
    margin-bottom: 20px; 
    font-size: 3rem; 
}

.wrapper {
    max-width: 60%;
    max-height: fit-content;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px 40px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206)
}
.tituloGrande {
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-size: 3.5rem; 
    margin-top: 40px; 
}


.form-group{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: small;
}

.input-group-text{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: small;
}

#labelStyle{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: small;
}

.form-group{
    padding:  10px 30px 10px 30px;
}

#precio, #titulo, #description, #link, #precio {
    color: #7b4ca0;
    border: 1px solid #7b4ca0;
    border-radius: 5px;
    outline: none; /* Para quitar el borde azul predeterminado al hacer focus */
    transition: box-shadow 0.3s ease;
}

#exampleFormControlSelect1 {
color: #7b4ca0;
border: 1px solid #7b4ca0;
border-radius: 5px;
outline: none; /* Para quitar el borde azul predeterminado al hacer focus */
transition: box-shadow 0.3s ease;

}

#precio:focus, #titulo:focus, #description:focus, #link:focus, #precio:focus {
    box-shadow: 0 0 10px 2px #7b4ca0; /* Sombra al hacer focus */
    border-color: #7b4ca0; /* Cambia el color del borde */
  }

#exampleFormControlSelect1:focus{
    box-shadow: 0 0 10px 2px #7b4ca0; /* Sombra al hacer focus */
    border-color: #7b4ca0; /* Cambia el color del borde */
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 0px 2px;
    font-family: 'Poppins', sans-serif
}


#btnValidar{
    background-color: #9469A2;
    border-color: #9469A2;
    color: #eee;
}

