body {
    background-color: #eee;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

#titulosHeader {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 40px; 
    margin-bottom: 20px; 
    font-size: 3rem; 
    padding: 10px;
}

.titulosDif{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px; 
    font-size: 3rem; 
    padding: 10px;
}

.tituloGrande {
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-size: 3.5rem; 
    margin-top: 40px; 
}
.wrapper {
    max-width: 60%;
    max-height: fit-content;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px 40px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206);
}

h2, h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-style: normal;
}

h6{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

#color{
    color: #7b4ca0;
}

.form-group {
    font-family: 'Source Sans Pro', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: small;
}

.input-group-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: small;
}

#labelStyle {
    font-family: 'Source Sans Pro', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: small;
}

.form-group {
    padding: 10px 30px;
}

#name,
#number,
#mail, 
#password, 
#confirm-password {
    color: #7b4ca0;
    border: 1px solid #7b4ca0;
    border-radius: 5px;
    outline: none; /* Para quitar el borde azul predeterminado al hacer focus */
    transition: box-shadow 0.3s ease;
}

#exampleFormControlSelect1 {
    color: #7b4ca0;
    border: 1px solid #7b4ca0;
    border-radius: 5px;
    outline: none; /* Para quitar el borde azul predeterminado al hacer focus */
    transition: box-shadow 0.3s ease;
}

#name:focus, #number:focus, #mail:focus, #password:focus, #confirm-password:focus {
    box-shadow: 0 0 10px 2px #7b4ca0; /* Sombra al hacer focus */
    border-color: #7b4ca0; /* Cambia el color del borde */
}

#exampleFormControlSelect1:focus {
    box-shadow: 0 0 10px 2px #7b4ca0; /* Sombra al hacer focus */
    border-color: #7b4ca0; /* Cambia el color del borde */
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 0px 2px;
    font-family: 'Poppins', sans-serif;
}

#btnValidar {
    background-color: #9469A2;
    border-color: #9469A2;
    color: #eee;
}

.valid {
    color: green;
}

.invalid {
    color: #9469A2;
}

.icon {
    margin-right: 10px;
}

.icon-valid {
    color: green;
}

.icon-invalid {
    color: red;
}

.fondocolor {
    background-color: rgb(228, 223, 235)
}
ul {
    list-style-type: none;
  }